@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap");
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html, body {
  margin: 0;
  font-family: "Nunito", sans-serif; }
  html a, body a {
    text-decoration: none; }

::-webkit-scrollbar {
  width: 0em; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0); }

.--blue {
  background-color: #42a5ff;
  -webkit-box-shadow: 0px -4px #75bdff;
  box-shadow: 0px -4px #75bdff; }

.--green {
  background-color: #2BDE73;
  -webkit-box-shadow: 0px -4px #73e797;
  box-shadow: 0px -4px #73e797; }

.--yellow {
  background-color: #ffc924;
  -webkit-box-shadow: 0px -4px #ffd76a;
  box-shadow: 0px -4px #ffd76a; }

.--red {
  background-color: #ff4742;
  -webkit-box-shadow: 0px -4px #ff7873;
  box-shadow: 0px -4px #ff7873; }

.--d-blue {
  background-color: #1c5182;
  -webkit-box-shadow: 0px -4px #597da1;
  box-shadow: 0px -4px #597da1; }

.--navy {
  background-color: #1c2a31;
  -webkit-box-shadow: 0px -4px #525a5f;
  box-shadow: 0px -4px #525a5f; }

#map {
  height: 100vh;
  min-width: 100%;
  position: relative;
  z-index: 5; }
  #map .votes {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 1.1rem; }

.vote-page-url {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background: transparent;
  z-index: 30;
  font-family: "Nunito", sans-serif;
  overflow-y: scroll;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  .vote-page-url .inner-vote {
    width: 90%;
    margin-left: auto;
    background-color: #fff;
    border: 1px solid #ededed; }
  .vote-page-url a {
    font-weight: 700;
    font-size: 1.2rem;
    color: #555;
    display: block;
    border-bottom: 1px solid #ededed;
    padding: .8rem; }
    .vote-page-url a:hover {
      background-color: #f5f5f5; }
  .vote-page-url .close-url {
    -webkit-transform: translate(13rem, 0.5rem);
    -ms-transform: translate(13rem, 0.5rem);
    transform: translate(13rem, 0.5rem);
    font-size: 1.5rem;
    cursor: pointer; }

.--state-trigger, .voter-page {
  position: fixed;
  left: 2%;
  top: 5%;
  z-index: 30;
  background-color: #fff;
  padding: .5rem 1rem;
  border-radius: 6px;
  color: #555;
  font-weight: 800;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 2px #ededed;
  box-shadow: 0 2px #ededed; }
  @media (max-width: 550px) {
    .--state-trigger, .voter-page {
      font-size: .9rem; } }
  .--state-trigger:hover, .voter-page:hover {
    background-color: #f5f5f5; }
  @media (max-width: 550px) {
    .--state-trigger, .voter-page {
      top: 90%;
      left: 70%;
      font-size: .8rem; } }

.voter-page {
  left: 15%; }
  @media (max-width: 550px) {
    .voter-page {
      top: 90%;
      left: 2%; } }

.state-site {
  position: fixed;
  top: 0%;
  left: 80%;
  z-index: 30;
  height: 100%;
  width: 300px;
  font-family: "Nunito", sans-serif;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow-y: scroll;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  .state-site .close-state {
    position: fixed;
    right: 10%;
    top: 2%;
    z-index: 40;
    font-size: 1.5rem; }
  .state-site .state-wrapper {
    width: 95%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding-left: .5rem; }
    .state-site .state-wrapper a {
      display: block;
      position: relative;
      -webkit-transition: all .1s;
      -o-transition: all .1s;
      transition: all .1s;
      width: 190px;
      text-align: center;
      color: #fff;
      font-weight: 800;
      font-size: 1.2rem;
      padding: .8rem 0;
      margin-top: 1rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      .state-site .state-wrapper a:hover {
        opacity: .8; }
  @media (max-width: 550px) {
    .state-site {
      padding: 0;
      width: 100%;
      left: 0; } }

.leaflet-control-zoom {
  -webkit-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%); }
  .leaflet-control-zoom .leaflet-control-zoom-in {
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 6px;
    color: #555;
    font-weight: 800;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 2px #ededed;
    box-shadow: 0 2px #ededed;
    border-radius: 6px 6px 0 0;
    font-size: 1.6rem;
    padding: .6rem;
    font-weight: 900; }
    @media (max-width: 550px) {
      .leaflet-control-zoom .leaflet-control-zoom-in {
        font-size: .9rem; } }
  .leaflet-control-zoom .leaflet-control-zoom-out {
    background-color: #fff;
    padding: .5rem 1rem;
    border-radius: 6px;
    color: #555;
    font-weight: 800;
    font-size: 1.1rem;
    -webkit-box-shadow: 0 2px #ededed;
    box-shadow: 0 2px #ededed;
    border-radius: 0px 0px 6px 6px;
    font-size: 1.6rem;
    padding: .6rem;
    font-weight: 900; }
    @media (max-width: 550px) {
      .leaflet-control-zoom .leaflet-control-zoom-out {
        font-size: .9rem; } }
